body {
    font-size: 15pt;
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container{
    height: 100vh;
    background-color: blueviolet;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.todo_container{
    margin-top: 90px;
    width: 360px;
    height: 450px;
    overflow-y: auto;
    border-radius: 40px;
    background-color: burlywood;
    padding:16px;
}
.heading{
    font: 20px;
    text-align: center;
    margin: 0 0 25px 0;
}
.input_container{
    position: relative;
    top:0;
    width:300px;
    height:44px;
    background-color:black;
    border-radius: 9px;
    margin: auto;
}
input{
    position: absolute;
    left: 0;
    outline: none;
    border-color:white;
    box-shadow: none;
    height:42px;
    width:200px;
    padding: 0;
    padding-left: 20px;
    margin: 0;
    border-radius:9px 0 0 9px;
    font-size: 16px;
}
.button{
    position: absolute;
    right: 0;
    padding: 0;
    height:44px;
    width:80px;
    padding: 0;
    margin: 0;
    border-radius:0 9px 9px 0;
    background-color: grey;
    font-size: 18px;
}
.list-container{
    padding: 0 0 0 0;
}
.lists_container{
    position: relative;
    background-color: goldenrod;
    margin: 20px 0 20px 0;
    border-radius:16px;
}
.lists{
    list-style: none;
    margin: 20px 0 20px 0;
    padding: 2px 2px 2px 15px;
    display: inline-flex;
    align-items:center ;
    width: 242px;
    min-height: 40px;
    background-color: powderblue;
    border-radius: 7px;
    overflow: auto;
    
}
.check{
   padding: 0;
   position: absolute;
   width: 28px;
   height: 35px;
   border: 1px solid #555;
   border-radius: 3px;
   left: 261px;
   top: 22px;
   cursor: pointer;
}
.del{
   padding: 0;
   position: absolute;
   width: 28px;
   height: 28px;
   border: 1px solid #555;
   border-radius: 6px;
   left: 290px;
   top: 25px;
   cursor: pointer;
}

.checked{
    text-decoration: line-through;
    background-color:gray;
    color: white;
}
